
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #18760e;
    color: #fff;
    padding: 40px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #3c0cdc;
    text-decoration: none;
}

.hero {
    background-color: maroon;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: wavy;
    border-radius: 5px;
}

.content {
    padding: 100px;
    background-color:grey;
    text-align: center;
}

footer {
    background-color:olivedrab;
    color: hsl(140, 31%, 6%);
    padding: 20px;
    text-align: center;
}
